.Message {
  padding: 2rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}